<!-- views/profileBK.ejs -->
<!doctype html>
<html>
<head>
	<title>FAW/Locust Project</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/Profile.css" type="text/css">

	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>

<div class="container">

	<div class="page-header text-center">
		<a href="//aworldbridge.com"><img class="banner" src="/pic/NewWBBanner.jpg" style="height:147px" /></a>
	</div>

    <form onsubmit="return checkForm()" action="/reset" method="post">
        <h3><strong>User Name</strong>:
            <label for="usernameF">First Name:</label>
            <input type="text" id="usernameF" name="usernameF"  value="<%= user.firstName %>">
            <label for="usernameL">Last Name:</label>
            <input type="text" id="usernameL" name="usernameL" value="<%= user.lastName %>">
            <div><strong>User Role</strong>:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= user.userrole%></div>
            <div><strong>Date created</strong>:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= user.dateCreated %></div>
            <strong>Last Modification</strong>:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= user.dateModified %>
            <div><strong>LoginName/Email</strong>:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= user.username%></div>

            <br>
            <div><strong>Password Change</strong>:    </div>
        </h3>
        <div >
            <label for="currentpassword">CurrentPassword:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" id="currentpassword" name="currentpassword" maxlength="2000px">
        </div>
        <div>
            <label for="newpassword">NewPassword:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="password" id="newpassword" name="newpassword" maxlength="2000px">
        </div>
        <div>
            <label for="Confirmpassword">Confirm New Password:</label>&nbsp;
            <input type="password" id="Confirmpassword" name="Confirmpassword" maxlength="2000px">
        </div>

        <button id="SS"  type="submit" class="btn btn-warning btn-sm"> Submit </button>
        <a href="/userprofilecancel" class="btn btn-warning btn-sm">cancel</a>
        <a href="/logout" class="btn btn-warning btn-sm">Logout</a>
    </form>
</div>

<script>
    function checkForm()
    {
        var oldP=document.getElementById("currentpassword").value;
        var newP=document.getElementById("newpassword").value;
        var confirmP =document.getElementById("Confirmpassword").value;

        if(oldP!=""&&newP!=""&&confirmP!="")
        {
            if(oldP!=newP)
            {
                if(newP==confirmP)
                {
                    return true;
                }
                else
                {
                    alert("Confirm password is not same as you new password.");
                    return false;
                }
            }
            else
            {
                alert(" This Is Your Old Password,Please Provide A New Password");
                return false;
            }
        }
        else
        {
            alert("All Fields Are Required");
            return false;
        }
    }
</script>

</body>
</html>
