<!-- views/profileBK.ejs -->
<!doctype html>
<html>
<head>
	<title>FAW/Locust Project - User Profile</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/Profile.css" type="text/css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/buttons/1.4.2/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="//unpkg.com/flatpickr/dist/flatpickr.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//unpkg.com/flatpickr"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        #Username{
            position:relative;
            left:980px;
            top:1px;
            width:14%;
        }
        .banner{
            position:absolute;
            left:220px;
            top:-35px;
            width:60%;
        }
        table, th{
            border: 1px solid black;
            text-align:center;

        }
        body { padding-top:80px; word-wrap:break-word; }

        .container1{
            margin-left:100px;
        }
        .floating-Box{
            display: inline;
        }
    </style>

</head>
<body>

<div class="container">
    <div class="dropdown">
        <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="Username"><%= user.firstName%>
            <span class="caret"></span></button>
        <a href="//aworldbridge.com"><img class="banner" src="/pic/NewWBBanner.jpg"/></a>
        <ul id="userMenu" class="dropdown-menu dropdown-menu-right">

        </ul>
    </div>
    <div class="container1">
        <br><br><br>
        <form id="submit" onsubmit="return checkForm()" action="/userProfile" method="post">
            <h4 class="floating-Box"><strong>User Name:</strong></h4>
            <h5 class="floating-Box">First Name:
            <input type="text" id="usernameF" name="usernameF"  value="<%= user.firstName %>">
            Last Name:
            <input type="text" id="usernameL" name="usernameL" value="<%= user.lastName %>">
            </h5>
            <h4>
            <div><strong>User Role:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= user.userrole%></div>
            <div><strong>Date created:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= user.dateCreated %></div>
            <strong>Last Modification:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= user.dateModified %>
            <div><strong>LoginName/Email:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= user.username%></div>
            <div><strong>Last Modificated by:</strong> &nbsp;<%= user.username%></div>
            </h4>
            <br>
           <h4><strong>Password Change</strong>:   </h4>

        <div >
           <h5>Current Password:
            <input type="password" id="currentpassword" name="currentpassword" maxlength="2000px">
           </h5>
        </div>
        <div>
            <h5>New Password:
            <input type="password" id="newpassword" name="newpassword" maxlength="2000px">
            </h5>
        </div>
        <div>
            <h5>Confirm New Password:
            <input type="password" id="Confirmpassword" name="Confirmpassword" maxlength="2000px">
            </h5>
        </div>

        <button id="SS"  type="submit" class="btn btn-warning btn-sm"> Submit </button>
        <a href="/userhome" class="btn btn-warning btn-sm">Cancel</a>
        </form>
    </div>
</div>

<script>

    var UserRole = "<%= user.userrole %>";
    var DropMenu;

    $(document).ready(function(){
        if (UserRole === "Admin") {
            DropMenu = "<li><a href=\"/userprofile\">Profile</a></li>\n" +
                "\t\t\t<li><a href=\"/userManagement\">User Management</a></li>\n" +
                "\t\t\t<li><a href=\"/signout\">Sign Out</a></li>";
            $("#userMenu").empty();
            $("#userMenu").append(DropMenu)
        } else if ( UserRole === "Regular") {
            DropMenu = "<li><a href=\"/userprofile\">Profile</a></li>\n" +
                "\t\t\t<li><a href=\"/signout\">Sign Out</a></li>";
            $("#userMenu").empty();
            $("#userMenu").append(DropMenu)
        }
    });

    function checkForm() {
        var oldP=document.getElementById("currentpassword").value;
        var newP=document.getElementById("newpassword").value;
        var confirmP =document.getElementById("Confirmpassword").value;

        if (newP != "") {
            if(oldP != "" && confirmP != "") {
                if(oldP != newP) {
                    if(newP == confirmP) {
                        alert ("V");
                        return true;
                    } else {
                        alert("New password are not matched!");
                        return false;
                    }
                } else {
                    alert("Please try your new password different from old one!");
                    return false;
                }
            } else {
                alert("All password fields are required");
                return false;
            }
        } else {return true}
    }

    function submit(e) {
        e.preventDefault();
        $.ajax({
            type: "post",
            url: "/detailedForm",
            dataType: 'json',
            data: $("#detailed").serialize(),
            success: function (result) {
                if (!result.error) {
                    document.getElementById("modal-footer").style.display = "none";

                    document.getElementById("modal-header").style.backgroundColor = "#5cb85c";
                    document.getElementById("close").innerHTML = "<a href='/userhome'>&times</a>";

                    document.getElementById("header").innerHTML = "Congratulations, Your Data Entry is Successfully Complete !";
                    document.getElementById("body").innerHTML = "<br>Click X to return to the Home Page.<br>";

                    document.getElementById("modal").style.display = "block";
                } else {
                    alert(result.message);
                }
            }
        })
    }

    $('#submit').submit(function(e) {
        // Prevent form submission
        e.preventDefault();

        $.ajax({
            type: "post",
            url: "/userProfile",
            dataType: 'json',
            data: $(this).serialize(),
            success: function (result) {
                if (!result.error) {
                    alert("SUCCESS");
                    window.location.replace('/userHome')
                } else {
                    alert(result.message);
                }
            }
        })
    });
</script>

</body>
</html>
