<!-- views/user_home.ejs -->
<!doctype html>
<html>
<head>
	<title>FAW/Locust Project - User Home</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/buttons/1.4.2/css/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <!--<link rel="stylesheet" href="//unpkg.com/flatpickr/dist/flatpickr.min.css">-->
    <link rel="stylesheet" href="../css/Title.css" type="text/css">
    <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <script src="../scripts/jquery-3.2.0.min.js"></script>
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/flatpickr"></script>
    <!--<script src="//unpkg.com/flatpickr"></script>-->
    <style>
        body 		{ padding-top:80px; word-wrap:break-word; }

		.floatingBox3{
			display: inline-table;
			width:450px;
		}
	</style>
</head>
<body>
<div class="container center">
    <a href="//aworldbridge.com"><img class="banner" src="/pic/NewWBBanner.jpg" style="height:147px"/></a>

</div><br><br>
<div class="page-header text-center header">
    <h1><span class="fa fa-anchor"></span> FAW Project -  User Home </h1><h4><span class="fa fa-user"></span>&nbsp;<strong>Account Name</strong>: <%= user.username %></h4><br>
    <a href="/newEntry" class="btn btn-default btn-lg">New Entry</a>&nbsp;&nbsp;
    <a href="/dataHistory" class="btn btn-default btn-lg">Data History</a>&nbsp;&nbsp;
    <a href="/recovery" id="restoreButton" class="btn btn-default btn-lg" type="button">Recovery</a>&nbsp;&nbsp;
    <div class="dropdown floating-Box">
        <button class="btn btn-primary btn-lg" data-toggle="dropdown" id="Username"><%= user.firstName%>
            <span class="caret"></span></button>
        <ul id="userMenu" class="dropdown-menu">

        </ul>
    </div>
</div>
<br>
<div class="container">
	<div class="center">
		<!--<h4 class="floatingBox"><strong> Num of Records Displayed</strong></h4>-->
		<h4 class="floating-Box"><strong>Date Range:&nbsp;</strong></h4>
		<h5 class="floating-Box">From:&nbsp;</h5>&nbsp;
        <input class="date" style="width: 10%;" type="text" placeholder="Select Date">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<h5 class="floating-Box">To:&nbsp;</h5>&nbsp;
        <input class="date" style="width: 10%;" type="text" placeholder="Select Date">
	</div>
	<div class="center">
		<!--<h6 class="floating-Box">Display per Page:</h6>-->
        <!--<input type="text" name="dislay per page" value="25" style="background:WhiteSmoke; width: 4%;" readonly>-->
		<h4 class="floatingBox"><strong>User Name:&nbsp;</strong></h4>
		<h5 class="floating-Box">First Name:&nbsp;&nbsp;</h5><input type="text" id="firstName" name="first name" style="background:WhiteSmoke; width: 10%;" value="<%= user.firstName %>" readonly>&nbsp;&nbsp;&nbsp;&nbsp;
		<h5 class="floating-Box">Last Name:&nbsp;&nbsp;</h5><input type="text" id="lastName" name="first name" style="background:WhiteSmoke; width: 10%;"  value="<%= user.lastName %>" readonly>
	</div>
	<div class="center">
		<h4><strong>Other Customized Filters</strong></h4>
		<h5 class="floatingBox3">Category1:&nbsp;
            <select class="filter">
                <option value="">Select A Field</option>
                <option value="trapOwner">1B.Trap Owner</option>
                <option value="locationName">1C.Location Name</option>
                <option value="locationType">1D.Location Type</option>
                <option value="country">1F.Country</option>
                <option value="province">1G.Province</option>
                <option value="district">1H.District</option>
                <option value="croppingSystem">1I.Cropping System</option>
                <option value="rota_inter_crop">1I-I.Rotation/Intercropping Crop</option>
                <option value="maizeVariety">1J.Maize Variety</option>
                <option value="plantingDate">1K.Maize Planting Date</option>
                <option value="fieldSize">1L.Field Size</option>
                <option value="healthOfMaize">1M.General Healoption of Maize</option>
                <option value="lastRainDate">1N.Date of Last Rain</option>
                <option value="entryType">1O.Entry Type</option>
                <option value="pestsPresent">2A.Pests Present</option>
                <option value="fawStage">2B.FAW Stage</option>
                <option value="earlyDamageLevel">2C.Early Damage Level</option>
                <option value="lateDamageLevel">2D.Late Damage Level</option>
                <option value="naturalEnemies">2E.Natural Enemies Present</option>
                <option value="deadLarvae">2F.Dead larvae killed by natural enemies </option>
                <option value="control">2G.% Plants Infested</option>
                <option value="control">2H.Control Undertaken</option>
                <option value="pesticide">2I.Pesticide Litres Sprayed</option>
            </select>
        </h5>
		<h5 class="floatingBox3" >Content:&nbsp;&nbsp;<input type="text" class="content"></h5><br>
		<h5 class="floatingBox3">Category2:&nbsp;
            <select class="filter">
                <option value="">Select A Field</option>
                <option value="trapOwner">1B.Trap Owner</option>
                <option value="locationName">1C.Location Name</option>
                <option value="locationType">1D.Location Type</option>
                <option value="country">1F.Country</option>
                <option value="province">1G.Province</option>
                <option value="district">1H.District</option>
                <option value="croppingSystem">1I.Cropping System</option>
                <option value="rota_inter_crop">1I-I.Rotation/Intercropping Crop</option>
                <option value="maizeVariety">1J.Maize Variety</option>
                <option value="plantingDate">1K.Maize Planting Date</option>
                <option value="fieldSize">1L.Field Size</option>
                <option value="healthOfMaize">1M.General Healoption of Maize</option>
                <option value="lastRainDate">1N.Date of Last Rain</option>
                <option value="entryType">1O.Entry Type</option>
                <option value="pestsPresent">2A.Pests Present</option>
                <option value="fawStage">2B.FAW Stage</option>
                <option value="earlyDamageLevel">2C.Early Damage Level</option>
                <option value="lateDamageLevel">2D.Late Damage Level</option>
                <option value="naturalEnemies">2E.Natural Enemies Present</option>
                <option value="deadLarvae">2F.Dead larvae killed by natural enemies </option>
                <option value="control">2G.% Plants Infested</option>
                <option value="control">2H.Control Undertaken</option>
                <option value="pesticide">2I.Pesticide Litres Sprayed</option>
            </select>
        </h5>
		<h5 class="floatingBox3">Content:&nbsp;&nbsp;<input type="text" class="content"></h5><br>
		<h5 class="floatingBox3">Category3:&nbsp;
            <select class="filter">
                <option value="">Select A Field</option>
                <option value="trapOwner">1B.Trap Owner</option>
                <option value="locationName">1C.Location Name</option>
                <option value="locationType">1D.Location Type</option>
                <option value="country">1F.Country</option>
                <option value="province">1G.Province</option>
                <option value="district">1H.District</option>
                <option value="croppingSystem">1I.Cropping System</option>
                <option value="rota_inter_crop">1I-I.Rotation/Intercropping Crop</option>
                <option value="maizeVariety">1J.Maize Variety</option>
                <option value="plantingDate">1K.Maize Planting Date</option>
                <option value="fieldSize">1L.Field Size</option>
                <option value="healthOfMaize">1M.General Healoption of Maize</option>
                <option value="lastRainDate">1N.Date of Last Rain</option>
                <option value="entryType">1O.Entry Type</option>
                <option value="pestsPresent">2A.Pests Present</option>
                <option value="fawStage">2B.FAW Stage</option>
                <option value="earlyDamageLevel">2C.Early Damage Level</option>
                <option value="lateDamageLevel">2D.Late Damage Level</option>
                <option value="naturalEnemies">2E.Natural Enemies Present</option>
                <option value="deadLarvae">2F.Dead larvae killed by natural enemies </option>
                <option value="control">2G.% Plants Infested</option>
                <option value="control">2H.Control Undertaken</option>
                <option value="pesticide">2I.Pesticide Litres Sprayed</option>
            </select>
        </h5>
		<h5 class="floatingBox3">Content:&nbsp;&nbsp;<input type="text" class="content"></h5>
	</div><br>
	<div class="center">
		<button id="submitButton" class="btn btn-primary btn-sm button" type="button" onclick="query()">Filter</button>
		<button id="editButton" class="btn btn-primary btn-sm button" type="button">Edit</button>
		<button id="deleteButton" class="btn btn-primary btn-sm button" type="button">Delete</button>
    </div>
	<br>
    <div class="center">
	    <h4 id="subtitles"><strong>Most Recent Records:</strong></h4>
        <div id="dvData">
            <table id="dataDisplay" style="width:100%;">
                <thead>
                <tr>
                    <th>Transaction_ID</th>
                    <th>Date</th>
                    <th>Trap_Owner</th>
                    <th>Location_Name</th>
                    <th>Location_Type</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Country</th>
                    <th>Province</th>
                    <th>District</th>
                    <th>Cropping_System</th>
                    <th>Rotation_Intercropping_Crop</th>
                    <th>Maize_Variety</th>
                    <th>Maize_Planting_Date</th>
                    <th>Field_Size</th>
                    <th>General_Health_of_Maize</th>
                    <th>Date_of_Last_Rain</th>
                    <th>Entry_Type</th>
                    <th>Pests_Present</th>
                    <th>FAW_Stage</th>
                    <th>Early_Damage_Level</th>
                    <th>Late_Damage_Level</th>
                    <th>Natural_Enemies_Present</th>
                    <th>Dead_Larvae_Killed_by_Natural_Enemies</th>
                    <th>Percent_Plants_Infested</th>
                    <th>Control_Undertaken</th>
                    <th>Pesticide_Litres_Sprayed</th>
                    <th>Photo_of_Pest</th>
                    <th>Photo_of_Damage</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
                <tfoot>
                <tr>
                    <th>Transaction_ID</th>
                    <th>Date</th>
                    <th>Trap_Owner</th>
                    <th>Location_Name</th>
                    <th>Location_Type</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Country</th>
                    <th>Province</th>
                    <th>District</th>
                    <th>Cropping_System</th>
                    <th>Rotation_Intercropping_Crop</th>
                    <th>Maize_Variety</th>
                    <th>Maize_Planting_Date</th>
                    <th>Field_Size</th>
                    <th>General_Health_of_Maize</th>
                    <th>Date_of_Last_Rain</th>
                    <th>Entry_Type</th>
                    <th>Pests_Present</th>
                    <th>FAW_Stage</th>
                    <th>Early_Damage_Level</th>
                    <th>Late_Damage_Level</th>
                    <th>Natural_Enemies_Present</th>
                    <th>Dead_Larvae_Killed_by_Natural_Enemies</th>
                    <th>Percent_Plants_Infested</th>
                    <th>Control_Undertaken</th>
                    <th>Pesticide_Litres_Sprayed</th>
                    <th>Photo_of_Pest</th>
                    <th>Photo_of_Damage</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<script type='text/javascript'>
    var dtstring = "";
    var rowSelected = [];
    var table = $("#dataDisplay").DataTable();
    var UserRole = "<%= user.userrole %>";
    var DropMenu;
    var d;
    var transactionID = [];

    $(document).ready(function(){

        $(function() {
            flatpickr(".date", {
                dateFormat: "Y-m-d",
                time_24hr: true
            });
            
            if (UserRole === "Admin") {
                DropMenu = "<li><a href=\"/userprofile\">Profile</a></li>\n" +
                    "\t\t\t<li><a href=\"/userManagement\">User Management</a></li>\n" +
                    "\t\t\t<li><a href=\"/signout\">Sign Out</a></li>";
                $("#userMenu").empty();
                $("#userMenu").append(DropMenu)
            } else if ( UserRole === "Regular") {
                DropMenu = "<li><a href=\"/userprofile\">Profile</a></li>\n" +
                    "\t\t\t<li><a href=\"/signout\">Sign Out</a></li>";
                $("#userMenu").empty();
                $("#userMenu").append(DropMenu)
            }

            queryAndDisplay("statusDel=" + "Active" + "&firstName=" + "<%= user.firstName %>" + "&lastName=" + "<%= user.lastName %>");
        });

        $('#dataDisplay tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
                d = table.row(this).data();
                var index = transactionID.indexOf(d[0]);
                transactionID.splice(index, 1);
            } else {
                $(this).addClass('selected');

                d = table.row(this).data();
                d.counter++;
                table.row(this).data(d).draw();

                transactionID.push(d[0]);

                var thArray = [];

                $('#dataDisplay > thead > tr > th').each(function(){
                    thArray.push($(this).text())
                })

                for (var i = 0; i < thArray.length; i++) {
                    rowSelected[i] = {};
                    rowSelected[i].Name = thArray[i];
                    rowSelected[i].Value = d[i];
                }
            }
        });

        $("#editButton").on("click", function () {
            if (confirm("Please make sure to only select ONE of the users to edit.") === true) {
                var tstring = "";

                for (var i = 0; i < rowSelected.length; i++) {
                    if (i === 0) {
                        tstring += rowSelected[i].Name + "=" + rowSelected[i].Value;
                    } else {
                        tstring += "&" + rowSelected[i].Name + "=" + rowSelected[i].Value;
                    }

                }

                alert("tstring for loop: " + tstring);

                $.ajax({
                    url: '/sendEditData',
                    type: 'GET',
                    dataType: 'json',
                    async: false,
                    data: tstring,
                    success: function (result) {
                        window.location.replace('/editData')
                    }
                })
            } else {
                return false;
            }
        });

        $("#deleteButton").on("click", function () {
            if (confirm("Are you sure you would like to delete this row(s)?") === true) {
               var transactionIDStr = "transactionIDStr=";
                for (var i = 0; i < transactionID.length; i++) {
                    transactionIDStr += transactionID[i] + ",";
                    if (i === transactionID.length - 1) {
                        transactionIDStr = transactionIDStr.substring(0, transactionIDStr.length - 1);
//                            alert(usernameStr);
                        update();
                    }
                }

                function update() {

                    $.ajax({
                        url: '/deleteRow',
                        type: 'GET',
                        dataType: 'json',
                        async: false,
                        data: transactionIDStr,
                        success: function (result) {
                            window.location.replace('/userHome')
                        }
                    })
                }
            } else {
                return false;
            }
        });
    });

    function query() {
        var firstName = document.getElementById("firstName").value;
        var lastName = document.getElementById("lastName").value;
        var startDate = document.getElementsByClassName("date")[0].value;
        var endDate = document.getElementsByClassName("date")[1].value;
        var filter1 = document.getElementsByClassName("filter")[0].value;
        var filter2 = document.getElementsByClassName("filter")[1].value;
        var filter3 = document.getElementsByClassName("filter")[2].value;
        var content1 = document.getElementsByClassName("content")[0].value;
        var content2 = document.getElementsByClassName("content")[1].value;
        var content3 = document.getElementsByClassName("content")[2].value;

        var queryStr = "statusDel=" + "Active" + "&firstName=" + firstName + "&lastName=" + lastName + "&startDate=" + startDate + "&endDate=" + endDate + "&filter1=" + filter1 + "&filter2=" + filter2 + "&filter3=" + filter3 + "&content1=" + content1 + "&content2=" + content2 + "&content3=" + content3;
        alert(queryStr);
        table.clear();
        table.draw();
        queryAndDisplay(queryStr);
    }

    var queryAndDisplay = function (querystr) {
        $.ajax({
            url: '/filterQuery',
            type: 'GET',
            dataType: 'json',
            async: false,
            data: querystr,
            success: function (resp) {

                if (!resp[0].errStatus) {
                    for (var i = 0; i < resp.length; i++) {
                        table.row.add([
                            resp[i].transactionID,
                            resp[i].date,
                            resp[i].trapOwner,
                            resp[i].locationName,
                            resp[i].locationType,
                            resp[i].latitude,
                            resp[i].longitude,
                            resp[i].country,
                            resp[i].province,
                            resp[i].district,
                            resp[i].croppingSystem,
                            resp[i].rota_inter_crop,
                            resp[i].maizeVariety,
                            resp[i].plantingDate,
                            resp[i].fieldSize,
                            resp[i].healthOfMaize,
                            resp[i].lastRainDate,
                            resp[i].entryType,
                            resp[i].pestsPresent,
                            resp[i].fawStage,
                            resp[i].earlyDamageLevel,
                            resp[i].lateDamageLevel,
                            resp[i].naturalEnemies,
                            resp[i].deadLarvae,
                            resp[i].percentInfested,
                            resp[i].control,
                            resp[i].pesticide,
                            resp[i].pestPhoto,
                            resp[i].damagePhoto
                        ]).draw(false);
                    }
                }
            }
        });
    }
</script>
</body>
</html>